body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#paragraph2 {
    line-height: 25px;
    width: 900px;
    padding: 15px 30px;
    border: 5px solid green;
    margin: 10px;
    background-color: white;
}

.blue {
    background-color: darkblue;
    color: white;
    padding: 15px;
}

ol {
    list-style: decimal-leading-zero;
}

ol a, ol a:visited{
    color:blue;
}

a[href*="w3schools"],a[href*="w3schools"]:visited{
    color: brown;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
}


th {
    background-color: lightgrey;
    font-weight: 700;
    padding: 4px 8px;
    text-align: center;
}


td {
    background-color: white;
    padding: 6px 8px;
    vertical-align: top;
}
